version: '3.8'
services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - NEXT_PUBLIC_API_URL=https://api.medisure.health
    dns:
      - 8.8.8.8
    container_name: medisure_frontend
    ports:
      - "3000:3000"
    restart: always